//$body-bg: white;
$enable-gradients: true;

$primary: #CFE5F6;
$secondary: #2B3856;

$primary: #2B3856;
$secondary: #CFE5F6;

$info: #7A4030;
$dark: darken($primary, 5%);


$tooltip-max-width:                 100px;
$tooltip-arrow-width:               .8rem;
$tooltip-arrow-height:              .4rem;

//$secondary: #567CC5;
@import "../..//node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/bootswatch/dist/cerulean/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/cerulean/bootswatch";
@import "animations/blob.scss";
@import "navbars/sidebar.scss";
@import "animations/scrollingtext.scss";
@import "text/hover.scss";

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.display-3 {
    @extend .display-3;
    font-size: 2.4 rem;
}

.display-4 {
    @extend .display-4;
    font-size: 1.8 rem;
}

.display-5 {
    @extend .display-5;
    font-size: 1.3rem;
}


shiny-notification-panel {
  width: 500px;
}

shiny-notification {
  width: 500px;
}


.card-header {
  @extend .bg-primary;
  @extend .text-secondary;
}

.card-body {
  @extend .bg-dark;
}

.bg-dark {
  @extend .text-light;
}

.card-footer {
  @extend .card-header;
}

.btn-secondary {
  @extend .text-dark;
}

.btn-primary {
  @extend .text-light;
}

.btn-default {
  @extend .btn-primary
}

.btn {
  @extend .btn-primary;
}

.bi {
  @extend .text-secondary;
}

.infobox {
  @extend .bg-primary;
  @extend .text-secondary;
  @extend .p-2;
  @extend .rounded-3;
}

.table {
  @extend .text-light;
}

textarea {
  @extend .bg-dark;
}

.fab {
  @extend .btn;
}

//.modal-content {
//  @extend .bg-dark;
//}

pre {
    @extend .infobox
  }

table {
  @extend .bg-dark;
  @extend .text-light;
}